<!DOCTYPE html>
<html>

<head>
    <title>Movie Recommendation</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="c.css">
</head>

<body>
    <div id="container">
        <h1>Movie Recommendation System</h1>
        <form method="post" action="/recommend">
            <label for="item">Selected Movie:</label>
            <select id="item" name="item">
                <option value="" >Select a movie</option>
                {% for movie in model_data %}
                <option value="{{ movie }}" {% if selected_movie==movie %}selected{% endif %}>{{ movie }}</option>
                {% endfor %}
            </select>
            <button type="submit">Get Recommendations</button>
        </form>
        {% if recommended_movies is defined %}
        <h2>Recommended Movies:</h2>
        <ul>
            {% for recommended_movie in recommended_movies %}
            <li>{{ recommended_movie }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</body>

</html>